body {
	display: flex;
	flex-wrap: wrap;
	place-content: center;
	max-width: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #666;
	color: #fff;
	border-style: solid;
  	border-width: 1px;
  	border-color: black;
}

.loop {
	padding:1vw;
}

.card {
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 20vw;
	text-align: center;
}

.SpeciesName {
  color: white;
  font-size: 2em;
}

.SciName {
  color: grey;
  font-size: 18px;
}

p {
	margin : 0;
	padding: 0.5vw;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

#image {
	height: 20vw;
	width: 20vw;
	position:relative;
}

img {
	position:absolute; 
	width:100%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


