/*Cards - Close*/
.close {
	top: 0.7vw;
    right: 1vw;
	position: absolute;
	width: 3vw;
	height: 3vw;
	opacity: 0.3;
}
.close:hover {
	cursor: pointer;
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	left: 1.2vw;
	content: ' ';
	height: 3vw;
	width: 0.5vw;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

/*Cards - Add*/
.flipCard {
	background-color: transparent;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	transform: rotateY(-180deg);
	min-height: 35vw;
}

.flipCardInner {
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.cardAddFront, .cardAddBack {
	backface-visibility: hidden;
    position: absolute;
}

.cardAddFront {
	transform: rotateY(-180deg);
	
}

.cardAddBack {
}

.add{
	opacity: 0.3;
	border:1vw solid #333;
	width:13vw;
	height:13vw;
	border-radius:100%;
	position:relative;
	display:inline-block;
}
.add:before,
.add:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#333;
}
.add:before{
    width: 1.5vw;
    margin: 3vw auto;
}
.add:after{
    height: 1.5vw;
    margin: auto 3vw;
}

.add:hover {
	cursor: pointer;
	opacity: 1;
}

.card .input {
	margin: 0.5vw;
}

/*Other*/
.input {
	max-width: 18vw;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.submitButton { 
    font-size: 5vw !important;
    color: #555;
}
.submitButton:hover {
	cursor: pointer;
	color: #333;
}

.imageUrl {
	height: 15vw;
	font-size: 1.25vw;
}