<html>
	<head>
		<title>Species Tracker</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/edit.css}">
		<script th:inline="javascript">

		/*<![CDATA[*/
			function sortCardsByPop(){
				var species = /*[[${species}]]*/ 'species';
				species.sort(comparePop);
         
				display(species);
			}
		
			function sortCardsByName(){
				var species = /*[[${species}]]*/ 'species';
				species.sort(compareName);
         
				display(species);
			} 
			
			function sortCardsBySciName(){
				var species = /*[[${species}]]*/ 'species';
				species.sort(compareSciName);
         
				display(species);
			} 
			
			function compareName(a, b){
				const valuea = a.speciesName;
				const valueb = b.speciesName;
				return compare(valuea, valueb);	
			}
			
			function compareSciName(a, b){
				const valuea = a.scientificName;
				const valueb = b.scientificName;
				return compare(valuea, valueb);	
			}
			
			function comparePop(a, b){
				const valuea = a.population;
				const valueb = b.population;
				return compare(valuea, valueb);		
			}

				
			function compare(a, b){
				let comparison = 0;
				if (a > b) {
					comparison = 1;
				} else if (a < b) {
					comparison = -1;
				}
				return comparison;
			}
        
      
			function display(species){
				var cardList = document.getElementById('cardList');
				while (cardList.firstChild) {
					cardList.removeChild(cardList.firstChild);
				}
				for (var i = 0; i < species.length; i++) {
					
					
					var card = document.createElement("div");
					var close = document.createElement("a");
					var image = document.createElement("div");
					var imageUrl = document.createElement("img");
					var speciesName = document.createElement("p");
					var sciName = document.createElement("p");
					var population = document.createElement("p");
					var location = document.createElement("p");
					var conserStatus = document.createElement("p");
					
					image.appendChild(imageUrl);
					card.appendChild(image);
					card.appendChild(close);
					card.appendChild(speciesName);
					card.appendChild(sciName);
					card.appendChild(population);
					card.appendChild(location);
					card.appendChild(conserStatus);
		
					cardList.appendChild(card);
					
					
					card.classList.add("card");
					close.classList.add("close");
					close.onclick = function() { if (confirm('WARNING!\nYou are about to delete this item')) {
					    //DELETE
					}};
					
					image.classList.add("image");
					imageUrl.src = species[i].imageUrl;
					speciesName.classList.add("SpeciesName");
					speciesName.innerHTML=species[i].speciesName;
					sciName.classList.add("SciName");
					sciName.innerHTML=species[i].scientificName;
					population.classList.add("Population");
					population.innerHTML="Population: " + species[i].population;
					location.classList.add("Population");
					location.innerHTML="Location: " + species[i].location;
					conserStatus.classList.add("Population");
					conserStatus.innerHTML="Conservation Status: " + species[i].conservationStatus;		
				}
				
				var card = document.createElement("div");
				var add = document.createElement("div");
				
				card.appendChild(add);
				cardList.appendChild(card);
				
				add.onclick = function() { if (confirm('WARNING!\nYou are about to add an item')) {
				    //ADD
				}};
				
				
				card.classList.add("cardadd");
				card.classList.add("card");
				add.classList.add("add");
				
			}
	        
       /*]]>*/
</script> 
	</head>
	<body onload="sortCardsByName()">
		<div id="cardList" class="cardList"></div>
		<div class="orderDropdown">
			<button class="orderButton">Sort by <i class="arrow down"></i></button>
			<div class="dropdown-content">
				<a onClick="sortCardsByName()">Species Name</a>
				<a onClick="sortCardsBySciName()">Scientific Name</a>
				<a onClick="sortCardsByPop()">Population</a>
			</div>
		</div>
	</body>
</html>