<html>
	<head>
		<title>Species Tracker</title>
		<link rel="stylesheet" type="text/css" href="/css/cardView.css">
		<link rel="stylesheet" type="text/css" href="/css/edit.css">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="/js/sort.js"></script>
		<script src="/js/edit.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body onload="sortCards('Name')">
		<div id="cardList" class="cardList"></div>
    	<a class="fa fa-home" href="/"></a>
		<div class="orderDropdown">
			<button class="orderButton">Sort by <i class="arrow down"></i></button>
			<div class="dropdown-content">
				<a onClick="sortCards('Name')">Species Name</a>
				<a onClick="sortCards('SciName')">Scientific Name</a>
				<a onClick="sortCards('Pop')">Population</a>
				<a onClick="sortCards('Loc')">Location</a>
				<a onClick="sortCards('CStatus')">Conservation Status</a>
			</div>
		</div>
	</body>
</html>